@font-face {
  font-family: rocket;
  src: url("../font/redrocketital.ttf"); }

@font-face {
  font-family: rocketout;
  src: url("../font/redrocket3dital.ttf"); }

@font-face {
  font-family: guitaluevo;
  src: url("../font/Gitaluevo.ttf"); }

@font-face {
  font-family: monserrat_bold;
  src: url("../font/Montserrat-Bold.ttf"); }

/* --------------------------------- 
------ Estilos de Cabecera  --------
--------------------------------- */
.cabecera {
  background: rgba(10, 10, 10, 0.5);
  border-bottom: 0.05rem solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100px;
  margin-bottom: 3rem;
  position: sticky;
  top: 0;
  z-index: 1000; }
  .cabecera__logo {
    margin-left: 7%; }
  .cabecera__logo-img {
    width: 65px; }
  .cabecera__nav li a {
    font-size: 1rem;
    text-transform: uppercase; }
  .cabecera__nav li a:hover {
    color: #ff002f !important;
    font-weight: bold;
    background-color: rgba(10, 10, 10, 0.5); }

.navbar-nav {
  margin-right: 7%;
  background-color: rgba(10, 10, 10, 0.5);
  border: 0.05rem solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 8px 20px;
  border-radius: 200px;
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.1); }

.dropdown-menu, .dropdown-item {
  background-color: #161616;
  color: #fffbed; }

.badge-info {
  color: black;
  background-color: #ff002f; }

/* --------------------------------- 
----- Estilos de Bienvenida --------
--------------------------------- */
.bienvenida {
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .bienvenida__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0; }
  .bienvenida__opaco {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }
  .bienvenida__boton {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    text-decoration: none;
    border-radius: 4px; }
    .bienvenida__boton .fa-regular {
      color: #fff;
      font-size: 20px; }
    .bienvenida__boton .fa-solid {
      width: 40px;
      height: 40px;
      font-size: 30px;
      color: #fffbed; }

#bienvenida-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0rem;
  width: 500px; }

.btnCard {
  background-color: #ff002f;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 7%;
  margin-left: 10%;
  border: 0.1rem solid #fffbed;
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.1);
  margin-bottom: 0 !important;
  padding: 0 !important; }
  .btnCard i {
    font-size: 30px;
    margin: auto;
    padding: auto;
    color: #fffbed; }

.logo-img {
  width: 40px; }

* {
  font-family: "Roboto", sans-serif;
  color: #fffbed;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  list-style-type: none;
  transition: .4s linear;
  box-sizing: border-box; }

body {
  background: #161616; }

html::-webkit-scrollbar {
  width: .5rem; }

html::-webkit-scrollbar-track {
  background: transparent; }

html::-webkit-scrollbar-thumb {
  background: #fffbed;
  border-radius: .5rem; }

html {
  scrollbar-width: .3rem;
  scrollbar-color: #fffbed transparent; }

main {
  margin: 0 7%; }

h1 {
  font-family: "guitaluevo", "Roboto", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  z-index: 100;
  padding-bottom: 1rem; }

h1 span {
  font-family: "guitaluevo", "Roboto", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase; }

.spanRed {
  font-family: "guitaluevo", "Roboto", sans-serif;
  color: #ff002f;
  font-size: 3.5rem;
  text-transform: uppercase; }

h2 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold; }

h2 span {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-transform: uppercase;
  color: #ff002f; }

/* ***********************************************************************************
Slidebar
*********************************************************************************** */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #282828;
  padding: 6px 14px;
  border-radius: 10px;
  transition: all 0.5s ease;
  z-index: 1000; }
  .sidebar .logo_content .logo {
    color: #fffbed;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease; }
    .sidebar .logo_content .logo #logo_name {
      font-size: 20px;
      font-weight: 400;
      margin: 0 0 0 15px;
      padding: 0; }
  .sidebar .logo_content #btn {
    position: absolute;
    color: #fffbed;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%); }
  .sidebar .logo_content i {
    font-size: 28px;
    margin-right: 5px; }
  .sidebar .nav_list {
    padding-left: 0%;
    margin-top: 20px; }
    .sidebar .nav_list li {
      position: relative;
      height: 50px;
      width: 100%;
      margin: 0 5px;
      list-style: none;
      line-height: 50px; }
      .sidebar .nav_list li a {
        color: #fffbed;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.2s ease;
        border-radius: 10px;
        white-space: nowrap; }
        .sidebar .nav_list li a i {
          height: 50px;
          min-width: 50px;
          border-radius: 12px;
          line-height: 50px;
          text-align: center; }
        .sidebar .nav_list li a .bx-search-alt-2 {
          position: relative;
          z-index: 99;
          color: #fffbed;
          font-size: 22px;
          transition: all 0.5s ease; }
        .sidebar .nav_list li a input {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          border-radius: 10px;
          outline: none;
          border: none;
          background-color: #a8a8a8;
          padding-left: 50px;
          font-size: 18px;
          color: #000; }
        .sidebar .nav_list li a .links_name {
          opacity: 0;
          pointer-events: none;
          transition: all 0.2s ease; }
        .sidebar .nav_list li a .tooltip {
          position: absolute;
          left: 122px;
          top: 0;
          transform: translate(-50%, -50%);
          border-radius: 6px;
          height: 35px;
          width: 122px;
          background: #fffbed;
          color: #0a0a0a;
          line-height: 35px;
          text-align: center;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          transition: 0s;
          opacity: 0;
          pointer-events: none;
          transition: all 0.2s ease; }
        .sidebar .nav_list li a:hover {
          border: 0.05rem solid rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.1);
          background: #4d4d4d; }
      .sidebar .nav_list li:hover .tooltip {
        transition: all 0.5s ease;
        opacity: 1;
        top: 50%; }
      .sidebar .nav_list li #activo {
        color: #0a0a0a;
        background: #ff002f; }
  .sidebar .profile_content {
    position: absolute;
    color: #fffbed;
    bottom: 0;
    left: 0;
    width: 100%; }
    .sidebar .profile_content .profile {
      position: relative;
      padding: 10px 6px;
      height: 60px;
      background: #383838; }
      .sidebar .profile_content .profile .profile_details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        pointer-events: none;
        white-space: nowrap; }
        .sidebar .profile_content .profile .profile_details .name_job {
          margin-left: 10px; }
          .sidebar .profile_content .profile .profile_details .name_job .name {
            font-size: 15px;
            font-weight: 400; }
          .sidebar .profile_content .profile .profile_details .name_job .job {
            font-size: 12px;
            font-weight: 400; }
        .sidebar .profile_content .profile .profile_details #log_out {
          position: absolute;
          left: 50%;
          bottom: 5px;
          transform: translateX(-50%);
          min-width: 50px;
          line-height: 50px;
          font-size: 20px;
          border-radius: 20px;
          opacity: 0;
          pointer-events: none;
          text-align: center;
          transition: all 0.2s ease; }

.sidebar.active {
  width: 240px; }
  .sidebar.active .logo_content .logo {
    opacity: 1;
    transition: all 0.8s ease; }
  .sidebar.active .logo_content #btn {
    left: 90%; }
  .sidebar.active .nav_list li .tooltip {
    display: none; }
  .sidebar.active .nav_list li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 0;
    top: 50%; }
  .sidebar.active .nav_list li a .bx-search-alt-2 :hover {
    background: #fffbed;
    color: #a8a8a8; }
  .sidebar.active .nav_list li a .links_name {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.8s ease; }
  .sidebar.active .profile_content .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.8s ease; }
    .sidebar.active .profile_content .profile .profile_details #log_out {
      left: 88%;
      opacity: 1;
      pointer-events: auto; }

.home_content {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease; }
  .home_content .text {
    margin-left: 12px; }

.sidebar.active ~ .home_content {
  width: calc(100% - 240px);
  left: 240px; }

/* From cssbuttons.io by @ernestnash */
.productCreator {
  width: 100%;
  margin-top: 78px; }

.card-header2 {
  color: #ff002f;
  text-align: center;
  padding-top: 10px;
  background: #695454; }

#listado__productos {
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 400px));
  gap: 1rem; }

.tarjeta {
  border-radius: 20px;
  text-align: center;
  width: 240px;
  height: 450px;
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 255, 255, 0.099);
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 1rem rgba(120, 62, 72, 0.2); }

.PCuotas {
  color: antiquewhite;
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 255, 255, 0.099);
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 1rem rgba(120, 62, 72, 0.2); }

legend {
  font-size: 2rem;
  text-transform: uppercase;
  background: #4d4d4d; }

fieldset {
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.1);
  width: 90%;
  margin-right: 3%;
  border-radius: 10px;
  margin: auto;
  padding: auto; }

#productCreator__form > * {
  padding: 1rem; }

#productCreator__form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.row {
  grid-column: 1 / 3; }

#productCreator__form div {
  margin: 0;
  padding: 1rem 2rem 1rem 2rem; }

#productCreator__form input,
#productCreator__form button,
#productCreator__form textarea,
#productCreator__form select {
  width: 100%;
  color: #bbbbbb;
  padding: .7rem;
  border: none;
  background: none;
  resize: none;
  border-bottom: 1px solid #ff002f; }

#productCreator__form label {
  color: #fff;
  text-align: left; }

#productCreator__form button {
  background: #ff002f;
  border: 0;
  color: #fffbed;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 10px; }

#productColor option,
#productCategory option {
  color: #000; }

#productCreator__form button:hover,
#productCreator__form button:focus {
  background-color: #d63031;
  color: black; }

.productCreated {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  margin-left: 5rem;
  margin-right: 5rem; }

.listadoTarjeta {
  width: 100%;
  height: 70px;
  color: antiquewhite;
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 255, 255, 0.099);
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 1rem rgba(120, 62, 72, 0.2);
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

#productCreator__btn {
  background: #ff002f;
  border: 0;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 10px; }

.card {
  margin: 7%; }

.card_back {
  border-radius: 20px;
  transition: all .3s;
  min-width: 280px;
  height: 450px;
  margin-bottom: 50px; }
  .card_back:hover {
    box-shadow: 0px 0px 40px 1px rgba(253, 0, 0, 0.616); }
  .card_back .card2 {
    border-radius: 20px;
    text-align: center;
    min-width: 280px;
    height: 450px;
    backdrop-filter: blur(0.2rem);
    background-color: rgba(255, 255, 255, 0.099);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 1rem 1rem rgba(120, 62, 72, 0.2); }
    .card_back .card2 .carousel {
      border-radius: 20px;
      width: 100%;
      height: 100%; }
      .card_back .card2 .carousel::before {
        border-radius: 20px;
        content: '';
        position: absolute;
        top: 0%;
        right: 0%;
        backdrop-filter: blur(5rem);
        background-color: rgba(255, 255, 255, 0.065);
        border: 0.1rem solid rgba(255, 255, 255, 0.7);
        box-shadow: 0 1rem 1rem rgba(120, 62, 72, 0.2);
        width: 100%;
        height: 100%;
        clip-path: circle(200px at 40% 7%);
        transition: 0.5s ease-in-out; }
      .card_back .card2 .carousel:hover::before {
        clip-path: circle(600px at 80% -20%); }
    .card_back .card2:hover {
      border-radius: 20px; }
    .card_back .card2 .d-block {
      object-fit: scale-down;
      height: 15rem; }
    .card_back .card2 .carousel-item .cardDescription {
      color: #161616; }
      .card_back .card2 .carousel-item .cardDescription h2 {
        font-weight: 600;
        font-size: 1.3rem;
        letter-spacing: 3px;
        height: 30px;
        text-transform: uppercase;
        color: #ff002f;
        margin: auto;
        font-family: guitaluevo;
        margin: 5px;
        padding: 0; }
      .card_back .card2 .carousel-item .cardDescription .price {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        text-transform: uppercase;
        font-family: roboto; }
        .card_back .card2 .carousel-item .cardDescription .price h3 {
          font-weight: 800;
          font-size: 1.2rem;
          margin: 5px; }
        .card_back .card2 .carousel-item .cardDescription .price span {
          font-size: 1rem;
          margin: 5px;
          color: #111;
          background-color: #fffbed;
          border-radius: 2px;
          padding: 2px 10px; }
      .card_back .card2 .carousel-item .cardDescription .color {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: roboto;
        padding: 5px; }
        .card_back .card2 .carousel-item .cardDescription .color h3 {
          font-weight: 800;
          font-size: 1.2rem;
          margin: 5px; }
        .card_back .card2 .carousel-item .cardDescription .color span {
          width: 20px;
          height: 20px;
          background: #fffbed;
          border-radius: 50%;
          margin: 0 5px;
          cursor: pointer; }
        .card_back .card2 .carousel-item .cardDescription .color .activo {
          border: 0.3rem solid #eca500;
          width: 30px;
          height: 30px; }
        .card_back .card2 .carousel-item .cardDescription .color .blanco {
          background-color: white; }
        .card_back .card2 .carousel-item .cardDescription .color .rojo {
          background-color: red; }
        .card_back .card2 .carousel-item .cardDescription .color .negro {
          background-color: black; }
        .card_back .card2 .carousel-item .cardDescription .color .azul {
          background-color: blue; }
        .card_back .card2 .carousel-item .cardDescription .color .amarillo {
          background-color: yellow; }
      .card_back .card2 .carousel-item .cardDescription a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ff002f;
        border-radius: 4px;
        margin-top: 10px;
        color: #fffbed;
        text-decoration: none;
        font-weight: 600; }
    .card_back .card2 .carousel-item .comprar a {
      height: 2rem;
      width: 2rem;
      line-height: 2rem;
      font-size: 1rem;
      border: 0.05rem solid rgba(255, 255, 255, 0.1);
      color: #ff002f;
      margin: .3rem; }
      .card_back .card2 .carousel-item .comprar a:hover {
        background: #fffbed; }

.products {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 100px; }
  .products__category {
    width: 25%;
    min-width: 270px;
    margin-right: 50px;
    box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.1);
    padding: 15px 10px 15px 10px;
    border-radius: 20px;
    margin-bottom: 100px;
    backdrop-filter: blur(0.2rem);
    background-color: rgba(255, 255, 255, 0.099);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 1rem 1rem rgba(120, 62, 72, 0.2); }
    .products__category h3 {
      font-size: 2rem;
      padding: 1rem;
      text-transform: uppercase;
      font-weight: bold; }
    .products__category .dropdown-item {
      color: #dddddd;
      border-radius: 250px;
      background-color: transparent; }
      .products__category .dropdown-item:hover {
        background-color: #ff002f;
        color: #fff;
        border-radius: 250px; }
    .products__category #navbarDropdown {
      color: #969696;
      padding-top: 5px;
      padding-bottom: 5px;
      position: relative; }
      .products__category #navbarDropdown:hover {
        color: white;
        background-color: #ff002f;
        border-radius: 250px; }
      .products__category #navbarDropdown:focus {
        color: white;
        background-color: #ff002f;
        border-radius: 250px; }
    .products__category #menu__categ {
      position: static !important;
      transform: none !important;
      border-radius: 20px;
      margin-left: 20px;
      backdrop-filter: blur(0.2rem);
      background-color: rgba(57, 57, 57, 0.06);
      border: 0.1rem solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 1rem 1rem rgba(120, 62, 72, 0.2); }
  .products .productCards {
    width: 75%; }
    .products .productCards .productList-h2 {
      grid-column-start: 1;
      grid-column-end: 7; }
    .products .productCards .productList-Structure {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
      gap: 1rem;
      margin: 5%; }

.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: #fffbed;
  border: 3px solid #ff002f;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  margin-bottom: 100px; }
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fffbed;
    background-color: #ff002f;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1; }
  .btn:hover::before {
    transform: translateX(0); }

#pt-index {
  width: 100%; }

#quantity {
  color: whitesmoke;
  border-radius: 10px;
  background-color: transparent;
  width: 50px; }
  #quantity:hover {
    background-color: #ff002f;
    color: #fff;
    border-radius: 10px; }

#searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  height: 40px;
  width: 100% !important; }

#search {
  width: 90%;
  background-color: transparent;
  border: 0.05rem solid rgba(255, 255, 255, 0.1); }

.btn-outline-success {
  text-align: center;
  margin-bottom: 10px; }

.modal-content {
  background-image: linear-gradient(125deg, rgba(83, 83, 83, 0.658), rgba(83, 83, 83, 0.8) 70%); }
